{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-extra-semi": "off",
    "constructor-super": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-ignore": false
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Function": false
        }
      }
    ]
  },
  "env": {
    "browser": true,
    "node": false,
    "jasmine": true
  }
}
