{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@shopify/prettier-plugin-liquid",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": ["*.jsonc", ".eslintrc", "tsconfig*.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
