<div class='grid place-content-center place-items-center h-dvh bg-p-neutral'>
  {%- form 'storefront_password',
    class: 'text-center shadow bg-t-background p-md w-full max-w-md grid grid-cols-1 gap-y-xs rounded-sm'
  -%}
    <h1 class='h6'>{{ 'general.password_page.login_form_heading' | t }}</h1>
    {%- render 'form-errors', form: form -%}
    {%- render 'form-field',
      kind: 'input',
      name: 'password',
      id: 'password',
      required: true,
      help_text: 'Password to access the store',
      label: 'Password',
      error: form.errors
    -%}

    <button name='commit' class='btn' variant='primary'>
      {{ 'general.password_page.login_form_submit' | t }}
    </button>
    <small class='password__footer-text'>{{ 'general.password_page.admin_link_html' | t }}</small>
  {%- endform -%}
</div>
